header {
  width: 100%;
  background-color: #fbfbfb;
  margin-bottom: 15px;
}

header p {
  font-weight: 16px;
  font-size: normal;
  font-family: "Roboto";
  color: #555555;
  line-height: 19px;
}

header .header-block {
  padding-top: 10px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

header .icons,
header .catalog {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .icons img,
header .catalog img {
  -o-object-fit: contain;
  object-fit: contain;
}

header .icons p,
header .catalog p {
  margin: 0px;
}

header .catalog {
  width: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .icons {
  margin-left: 250px;
  width: 250px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header #logo {
  margin-left: 80px;
  margin-right: 80px;
  cursor: pointer;
}

header .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

header .about p:not(:last-child) {
  margin-right: 40px;
}

footer {
  width: 100%;
  height: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #979797;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .footer-container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .footer-container > img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

footer img {
  -o-object-fit: contain;
  object-fit: contain;
}

footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .footer-nav p {
  font-weight: normal;
  font-size: 16px;
  font-family: "Roboto";
  color: #555555;
  line-height: 19px;
  margin: 0px;
}

footer .footer-nav form {
  margin-left: 50px;
}

footer .footer-nav form > p {
  margin-bottom: 15px;
}

footer .footer-nav form input {
  width: 325px;
  height: 38px;
  background: #fefefe;
  border-radius: 19px;
  border: none;
  outline: none;
  border-radius: 19px;
  margin-bottom: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer .footer-nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-nav > div ul:first-child {
  margin-right: 75px;
}

footer .footer-nav > div .ul-header {
  font-weight: normal;
  font-size: 16px;
  font-family: "Roboto";
  color: #555555;
  line-height: 19px;
}

footer .footer-nav > div li {
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  color: #fefefe;
  line-height: 13px;
  list-style: none;
}

footer .footer-nav > div li:not(:last-child) {
  margin-bottom: 15px;
}

footer .footer-nav .copy {
  text-align: center;
  margin-top: 20px;
}

footer .footer-contact {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .footer-contact p {
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  color: #555555;
  line-height: 16px;
  margin: 0px;
  margin-bottom: 15px;
}

footer .footer-contact .email {
  margin-top: 15px;
  margin-bottom: 25px;
}

footer .footer-contact .addr {
  width: 147px;
  font-weight: normal;
  font-size: 12px;
  font-family: "Roboto";
  color: #555555;
  line-height: 14px;
}

footer .footer-contact .contact-sicial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-contact .contact-sicial img:not(:last-child) {
  margin-right: 15px;
}
